body {
    background-color: bisque;
}

h2 {
    color:brown;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

h3 {
    color:red;
    text-align: center;
}

.said {
    font-style: italic;
}

.italic {
    font-style: italic;
}

.text {
    font-weight: bold;
    text-transform: uppercase;
}

.chapter {
    color:blue;
}

#begin {
    color: orange;
    font-weight: bold;
}